.notice{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      ), url("myinfo_ui/notice_board_infinite.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
* {
    box-sizing: border-box;


}
body {
    position: relative;
    width:360px;
    height:640px;

    border: solid;
}


.headers{
    background-color:#71bc66;
    width:100%;
    height:50px;
}

.head{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: left;

}

.border{
    margin-top: 10px;
    border-bottom: 2px solid black;
}

main{
    margin: 40px;
}
.content{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    line-height: 150%;
    padding-bottom: 30px;
    
}

.li{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.datetime{
    margin-bottom: 10px;

}

.textcon{
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid gray;

}

.innercon{
    background-color: white;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-top: 1px solid gray;
}

.pagecon{
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.next{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.prev{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.next_text{
    font-weight: bold;
}

.prev_text{
    font-weight: bold;
}
footer{
    margin: 40px;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    display: flex;
    flex-direction: column;
    line-height: 50px;
}
.text{
    text-decoration: none;
    color: black;
}