<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link text="text/css" rel="stylesheet" href="static/problem_list.css">
    <script defer src="static/problem_list.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="head_menu">
            <li><button class="menu_selected">Quest</button></li>
            <li><button>Ranking</button></li>
            <li><button>Setting</button></li>
        </ul>

        <div class="top_menu">
            <p>
                문제 선택
            </p>
            <div class="category">
                <button class="category_button">
                    <label class="category_value">ALL</label>
                    <img src="static/ui/dropdown.png">
                </button>
                <ul class="category_list visible">
                </ul>
            </div>
        </div>
    </header>

    <section>
        <div class="main">
            <ul class="problem_list">
                <li>
                    <div class="problem_icon solved"></div>
                    <a class="problem_link">문제 1</a>
                </li>
                <li>
                    <div class="problem_icon solving"></div>
                    <a class="problem_link">문제 2</a>
                </li>
                <li>
                    <div class="problem_icon unsolved"></div>
                    <a class="problem_link">문제 3</a>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>