{% extends 'main_template.html' %}
{% block content %}
<script> document.querySelector(".main_link").classList.add("selected") </script>

<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">

<script defer src="{{ url_for('static', filename='main_page.js') }}"></script>

<div class="main_warning">
    <div class="main_warning_title">NEWS</div>
    <div class="main_warning_contents" id = 'my_text'>
        <marquee class="banner">
            <label>
                라벨 입니다.
            </label>
        </marquee>
    </div>
</div>

<main>


    <div class="back snow{{main_data['snow_id']}} background{{main_data['background_id']}}">
        <div class="character_info">
            <div class="character_lv">Lv.<label style="font-size:30pt">{{ main_data["lv"] }}</label></div>
            <div class="character_detail">
                <div class="character_name">{{ g.user["user_id"]}} 님</div>
                <progress value="{{ main_data['exp'] }}" max="{{ main_data['max_exp'] }}" id="progress"></progress>
            </div>
        </div>
        <div class="character_show">
            <div class="character_img">
                <img class="char" src="{{ url_for('static', filename='ui/level '+main_data.lv|string+'-'+main_data.imgview|string+'.gif') }}"></img>
            </div>
            <div class="mission">
                <p>오늘의 미션</p>
                <div class="mission_solved"><label style="font-size:50pt">{{ main_data["mission"] }}</label>/3</div>
            </div>
        </div>
    </div>
    <div class="todo">
        <h2>오늘의 할 일</h2>
    </div>
</main>
<div class="error-modal">
    <div class="error-modal-top-content">
        30자 이하로 입력해주세요.
    </div>
    <div class="error-modal-bottom-content">
        <button class="error-modal-modal_close">확인</button>
    </div>
    </div>

    <script>
        // 값만 전달... 하자 \
        console.log("{{ main_data['li'] }}")

        let banner = document.querySelector(".banner")
        let banner_width = banner.offsetWidth

        let notices = "{{ main_data['li'] }}".split(",")

        let counter = 0;

        change()
        setInterval(change, 10000)

        function change() {
            let text = notices[counter]

            text = text.replaceAll('&#39;','')
            text = text.replaceAll('[','')
            text = text.replaceAll(']','')

            document.querySelector(".banner > label").innerText = text
            let length = document.querySelector(".banner > label").offsetWidth
            console.log(length)

            let label = document.createElement("label")
            label.appendChild(document.createTextNode(text))

            banner.remove()
            banner = document.createElement("marquee")
            banner.classList.add("banner")
            banner.setAttribute("scrolldelay", "100");
            banner.setAttribute("scrollamount", (2*(length) + banner_width)/100)
            banner.setAttribute("loop", "1");
            banner.appendChild(label)

            document.querySelector(".main_warning_contents").appendChild(banner)
            counter++;
            if(counter >= notices.length) { counter = 0; }
        }

    </script>

{% endblock %}