{% extends 'main_template.html' %}
{% block content %}
<script> document.querySelector(".quest_link").classList.add("selected") </script>

<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='quest_show.css') }}">
<script defer src="{{ url_for('static', filename='quest_show.js') }}"></script>

<header>
    <div class="problem_info">
        <div class="problem_title">
            <p class="problem_icon {{ problem_data.status }}"></p>
            <p class="problem_id">{{ problem_data["problem"]["id"] }}</p>
        </div>
            <div class="problem_category">{{ problem_data["problem"]["category"] }}</div>
            <div class="problem_type" style="display: none;">{{ problem_data["problem"]["type"] }}</div>
    </div>
</header>

<section>
    <div class="main">
        <pre class="problem_content">{{ problem_data["problem"]["content"]|safe }}</pre>
    </div>
    
</section>

<footer>
    {% if problem_data["problem"]["type"]=="객관식" %}
    <ol class="problem_answer">
        {% for choice in problem_data["problem"]["choices"].split("\n") %}
        <li> <label class="answer_choice"><input type="radio" name="answer" value="{{ loop.index }}">{{ choice }}</label></li>
        {% endfor %}
    </ol>
    {% else %}
    <input type="text" placeholder="정답 입력" class="problem_answer">
    {% endif %}
    {% if problem_data.status == "solved" %}
    <pre class="answer_explanation deactivate">{{ problem_data ["problem"]["explanation"]|safe }}</pre>
    <button class="answer_show">해설보기</button>
    {% else %}
    <button class="answer_commit">제출하기</button>
    {% endif %}
</footer>

<div class="modal correct_modal chk_lvup">
    <div class="top-content">
        정답입니다!
    </div>
    <div class="bottom-content">
        <img src="../static/ui/correct.png" class="modal_img">
        <p class="modal_text">경헙치를 <label class="obtained_exp"></label>획득하셨습니다.</p>
        <button class="modal_close">확인</button>
    </div>
 </div>

 <div class="modal incorrect_modal">
    <div class="top-content">
        오답입니다..
    </div>
    <div class="bottom-content">
        <img src="../static/ui/incorrect.png" class="modal_img">
        <p class="modal_text">다시 시도해보세요ㅜㅜ</p>
        <button class="modal_close">확인</button>
    </div>
 </div>

 <div class="modal error_modal">
    <div class="top-content">
        정답을 입력해주세요.
    </div>
    <div class="bottom-content">
        <button class="modal_close">확인</button>
    </div>
 </div>

 <div class="modal limit_modal">
    <div class="top-content">
        더이상 경험치를 획득하실 수 없습니다.
    </div>
    <div class="bottom-content">
        <button class="modal_close">확인</button>
    </div>
 </div>
{% endblock %}