{% extends 'main_template.html' %}
{% block content %}
<script> document.querySelector(".quest_link").classList.add("selected") </script>

<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='quest_show.css') }}">
<script defer src="{{ url_for('static', filename='quest_show.js') }}"></script>

<header>
    <div class="problem_info">
        <div class="problem_title">
            <p class="problem_icon {{ problem_data.status }}"></p>
            <p class="problem_id">{{ problem_data["problem"]["id"] }}</p>
        </div>
            <div class="problem_category">{{ problem_data["problem"]["category"] }}</div>
    </div>
</header>

<section>
    <div class="main">
        <div class="problem_show">
            <div class="problem_type">{{ problem_data["problem"]["type"] }}</div>
            <div class="problem_content">
                {{ problem_data["problem"]["content"]|safe }}
            </div>
        </div>
        {% if problem_data["status"] != "solved" %}
        <div class="answer_input">
            {% if problem_data["problem"]["type"]=="객관식" %}
            <ol>
                {% for choice in problem_data["problem"]["choices"].split("\n") %}
                <li> <label><input type="radio" class="problem_answer" name="answer" value="{{ loop.index }}">{{ choice }}</label></li>
                {% endfor %}
            </ol>
            {% else %}
            <input type="text" placeholder="정답 입력" class="problem_answer">
            {% endif %}
            <button class="answer_commit">정답 확인</button>
        </div>
        {% else %}
        <div class="answer_explaination">
            <div class="answer_correct">
                {% if problem_data["problem"]["type"]=="객관식" %}
                    정답 : {{ problem_data["problem"]["choices"].split("\n")[ problem_data["problem"]["answer"]|int-1 ] }}
                {% else %}
                    정답 : {{ problem_data["problem"]["answer"]}}
                {% endif %}
            </div>
            <div class="answer_explain">
                {{ problem_data["problem"]["explanation"] }}
            </div>
        </div>
        {% endif %}
    </div>
</section>

    
{% endblock %}