{% extends 'main_template.html' %}
{% block content %}
<script> document.querySelector(".ranking_link").classList.add("selected") </script>

<script defer src="{{ url_for('static', filename='leaderboard/question.js') }}"></script>
<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='./leaderboard/leaderboard.css') }}">

<!--<script type='text/javascript'>
    var img_L = 0;
    var img_T = 0;
    var targetObj;
    
    function getLeft(o){
         return parseInt(o.style.left.replace('px', ''));
    }
    function getTop(o){
         return parseInt(o.style.top.replace('px', ''));
    }
    
    // 이미지 움직이기
    function moveDrag(e){
         var e_obj = window.event? window.event : e;
         var dmvx = parseInt(e_obj.clientX + img_L);
         var dmvy = parseInt(e_obj.clientY + img_T);
         targetObj.style.left = dmvx +"px";
         targetObj.style.top = dmvy +"px";
         return false;
    }
    
    // 드래그 시작
    function startDrag(e, obj){
         targetObj = obj;
         var e_obj = window.event? window.event : e;
         img_L = getLeft(obj) - e_obj.clientX;
         img_T = getTop(obj) - e_obj.clientY;
    
         document.onmousemove = moveDrag;
         document.onmouseup = stopDrag;
         if(e_obj.preventDefault)e_obj.preventDefault();
    }
    
    // 드래그 멈추기
    function stopDrag(){
         document.onmousemove = null;
         document.onmouseup = null;
    }


    function sleep(ms) {
        const wakeUpTime = Date.now() + ms;
        while (Date.now() < wakeUpTime) {}
      }

      function test() {
        console.log("before");
        sleep(200);
        console.log("after");
      }

    </script>-->

<body>
    <!--동그라미 움직이기
        <div class ="center" id = 'dung'>
        <a href="?page={{ user_rank['mypage']}}" class = "texted">내 순위</a>
    </div>--> 

    <!--마우스로 움직이기
        <div style='position:absolute; left:0px; top:0px; cursor:pointer; cursor:hand' onmousedown='startDrag(event, this)'>
        <div class ="center">
        <a href="?page={{ user_rank['mypage']}}" class = "texted">내 순위</a>
        </div>
    </div>-->
    {% for message in get_flashed_messages() %}
        <script>alert("{{message}}")</script>
    {% endfor %}


    <header class = "displays">
            <div class = "headers"> 
                <div class ="center" id = 'dung'>
                    <a href="?page={{ user_rank['mypage']}}" class = "texted">내 순위</a>
                </div>
            </div>
            <div class="headers2">
                <div class ="headers3">
                    <img src="{{url_for('static',filename='./leaderboard/leaderboard_ui/leaderboard.gif')}}" class = 'wo'>
                    <div class = "displays headsize">
                        <span class="username">GOGOGO!</span>
                        <div class = "size1">
                            <input class="questionbox imgquetion" id = 'question' placeholder="내 별명이요">                            
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <section class = "displays">

        <div class="board1">
            <div class="ro rodisplay">
                <span class="rotext">순위</span>
                <span class="rotext">별명</span>
                <span class="rotext">레벨</span>
                <span class="rotext">경험치</span>
            </div>
        </div>
        <!-- lanking 표시 ,-->
        <div class="board2 displays">
            {%for item in user_rank['item']%}
            
                <div class="leaders test_obj">
                    
                    {% if user_rank['page'] == 1 %}

                        {% if loop.index <4 %}
                            <img class = "imgleader imgleader{{loop.index}}" id = "rank{{loop.index}}">
                        {% else %}
                            <div class = 'leadertext' id = 'rank'> {{loop.index + (user_rank['page']-1)*10}} </div> 
                        {% endif %}

                    {% else %}
                        <div class = 'leadertext' id = 'rank'> {{loop.index + (user_rank['page']-1)*10}} </div> 
                    {% endif %}



                    {%for k in item.values()%}
                        <div class="leadertext">{{ k }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        <div class="board3">
            <div class="move">
                {% if user_rank['page'] > 1 %}
                    <a class="atag" href="?page=1">맨앞</a>
                {% endif %}
                {% for page_num in user_rank['max_page'] %}
                    {% if page_num == user_rank['page'] %}
                            <a class="pagebox" href="?page={{ page_num }}"> {{page_num}}</a>
                    {% elif -2 < page_num - user_rank.page < 2 %}
                            <a class="pagebox" href="?page={{ page_num }}"> {{page_num}}</a>
                    {% endif %}
                {% endfor %}
        
                {% if user_rank['page'] < user_rank['max_page'][-1] %}
                    <a class="atag" href="?page={{ user_rank['max_page'][-1] }}">맨뒤</a>
                {% endif %}
            </div>
        </div>

    </section>



    <script> 
        {% if user_rank['myinfo'] < 4 %}
                function myinfo(myinfos){
                    let dom = document.querySelector(`#rank${myinfos}`)
                    dom.parentNode.style.border = "1.5px solid pink"
                }
        {% else %}
            function myinfo(myinfos){

                console.log('dgasdgasdg')
                let rank = document.querySelectorAll('#rank')
                console.log(myinfos)
                rank.forEach( i => {
                    if (i.innerText ==myinfos){
                        i.parentNode.style.border = "1.5px solid black"
                    }
                })
        
            }
        
        {% endif %}
        myinfo({{ user_rank['myinfo'] }} )

    </script>



</body>



{% endblock %}