{% block exp_modal %}
<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='exp_modal.css') }}">
<script defer src="{{ url_for('static', filename='exp_modal.js') }}"></script>

<div class="exp-modal get-exp">
    <div class="exp-top-content">
        경험치 획득!
    </div>
    <div class="exp-bottom-content">
        <img src="../static/ui/mk5.gif" class="exp-modal_img">
        <p><label class="obtained_exp">5</label>의 경험치를 획득하셨습니다.</p>
        <button class="exp-modal_close">확인</button>
    </div>
 </div>

 <div class="exp-modal level-up">
    <div class="exp-top-content">
        레벨 업!
    </div>
    <div class="exp-bottom-content">
        <div class="exp-chr_box">
            <img src="../static/ui/mk5.gif" class="exp-modal_img">
            <img src="../static/ui/levelup.gif" class="levelup_img">
        </div>
        <p>Lv.<label class="current_lv">5</label>로 레벨업 하셨습니다.</p>
        <button class="exp-modal_close">확인</button>
    </div>
 </div>

{% endblock %}