<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='main_template.css') }}">
    <title>SeSac</title>
</head>
<body>
    <nav>
        <div class='nav_bar'>
            <a href = "{{ url_for('main.main_page') }}" class='main_link'>메인</a>
            <a href = "{{ url_for('quest.quest_list') }}" class='quest_link'>미션</a>
            <a href = "{{ url_for('main.ranking_page') }}" class='ranking_link'>랭킹</a>
            <a href = "{{ url_for('myinfo.setting_page') }}" class='setting_link'>설정</a>
            </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% include 'exp_modal.html' %}
</body>
</html>