{% extends 'main_template.html' %}
{% block content %}
<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='./myinfo/myinfo_notice.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />

<body>
    <div class="notice">
        <div class="notice_top">            
            <!-- 관리자 일 때만 등록 나오게
            관리자는 0,1 로 판단 할 까?-->
            <div class='notice_name'>공지사항
            {%if notice['admin'] == '새싹이2'%}
                <a href="{{ url_for('myinfo.enroll') }}">등록</a>            
            {%endif%}
            </div>            
        </div>

        <div class="notice_contents">
            {%for i in notice['item']%}
            <div class="notice_content">
                <div class="notice_datetime"> {{i['date']}}</div>
                <div class="notice_sub">
                    <a href="{{ url_for('myinfo.content', content_id = i['id'] ) }}" class="textcon" >{{i['title']}}</a>
                        <!-- 관리자 일 때만 등록 나오게
                        관리자는 0,1 로 판단 할 까?-->                        
                        {%if notice['admin'] == '새싹이2'%}                        
                        <div class="admin_modify">
                            <a href="javascript:void(0)" data-uri="{{ url_for('myinfo.delete', content_id=i['id']) }}">삭제</a>                            
                            <a href="{{ url_for('myinfo.modify', content_id = i['id'] ) }}">수정</a>                        
                        </div>
                        {%endif%}                        
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>  



    <!--script도 static/ exp modal.js랑 충돌 난다.-->
    <script type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>

</body>
{% endblock %}


