{% extends 'main_template.html' %}
{% block content %}
<link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='./myinfo/myinfo_notice_content.css') }}">
<body>
    <div class = "notice">
        <div class="notice_top">
            <div class="notice_name">공지사항</div>
        </div>            

        
        <div class="notice_content">
            <div class="notice_datetime">{{contented['content']['date']}}</div>
            <div class="notice_sub">
                <div class="textcon">{{contented['content']['title']}}</div>
            </div>
            <div class="notice_sub">
            <div class="innercon">{{contented['content']['content']}}</div>
        </div>
       

        <footer class="pagecon">
            {% if contented.page == 1 %}
                <div class="next">
                    <a href="{{ url_for('myinfo.content', content_id = contented.page+1 ) }}" class = "text">다음글</a>                    
                </div>

                <div class="prev">
                    <span>이전글</span>
                    <span>(없음)</span>
                </div>
            {% elif contented.max_page == contented.page %}
                <div class="next">
                    <span>다음글</span>
                    <span>(없음)</span>
                </div>

                <div class="prev">
                    <a href="{{ url_for('myinfo.content', content_id = contented.page-1 ) }}" class = "text">이전글</a>
                </div>
            {% else %}
                <div class="next">
                    <a href="{{ url_for('myinfo.content', content_id = contented.page+1 ) }}" class = "text">다음글</a>
                </div>

                <div class="prev">
                    <a href="{{ url_for('myinfo.content', content_id = contented.page-1 ) }}" class = "text">이전글</a>
                </div>
            {% endif %}
        </footer>
    </div>
</body>
{% endblock %}


