{% extends 'main_template.html' %}
{% block content %}
    <link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='myinfo/myinfo.css') }}">
    <script defer src="{{ url_for('static', filename='myinfo/myinfo_modify.js') }}"></script>
<body>
    <div class="myinfomodify">
        <div class="myinfomodify_top">
            <div class="myinfomodify_name">내 정보 수정</div>            
        </div>
        <div class="myinfomodify_content">
            <div class="myinfomodify_content_fullset">
                <div class="myinfomodify_content_title">
                    이름
                </div>
                <div class="myinfomodify_content_set">                    
                    <div class="myinfomodify_content_sub">{{user_info['user_name']}}</div>
                    <input type="button" class="myinfomodify_submit" id="myinfomodify_name" value="변경하기"/>
                </div>                
            </div>

            <div class="myinfomodify_content_fullset">                
                <div class="myinfomodify_content_title">
                    비밀번호
                </div>
                <div class="myinfomodify_content_set">
                    <div class="myinfomodify_content_sub">********</div>
                    <input type="button" class="myinfomodify_submit" id="myinfomodify_password" value="변경하기"/>
                </div>                
            </div>                        

            <div class="myinfomodify_content_fullset">                
                <div class="myinfomodify_content_title">
                    배경 선택
                </div>
                <div class = "totback">
                    <a href="{{url_for('main.main_page',id = 1)}}">
                        <img src="{{url_for('static',filename='myinfo/myinfo_ui/backimg.jpeg')}}" class="char" style = "width:35%; height:50%;">
                    </a>

                    <a href="{{url_for('main.main_page',id = 2)}}">
                        <img src="{{url_for('static',filename='myinfo/myinfo_ui/backimg2.jpeg')}}" class="char" style = "width:35%; height:50%;">
                    </a>

                </div>
            </div>    


            <div class="myinfomodify_content_fullset">                
                <a href="{{url_for('login.withdraw')}}" class="myinfomodify_content_title" style="color: darkgray; font-weight: lighter;">
                    회원탈퇴 하기
                </a>                
                <div class="myinfomodify_content_title" style="color: darkgray; font-weight: lighter; font-size: 12px;">클릭하시면 바로 탈퇴되니 신중히 눌러주시기 바랍니다.</div>
            </div>        
        </div>
    </div>

</body>
{% endblock %}
