{% extends 'main_template.html' %}
{% block content %}
<body>
    <form method="post" class="my-3">
        <label for="title">제목</label>
        <input type="text"  name="title" id="title">

        <label for="content">내용</label>
        <textarea name="content" id="content" rows="10"></textarea>

        <button type="submit" class="btn btn-primary">저장하기</button>


        <!-- 필드 / flash 오류 -->
        {{ form.csrf_token }}
        <!--{% include "form_errors.html" %}-->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
                <strong id = 'te'>{{ form[field].label }}</strong>  
            {% endfor %}
        </div>
        {%endif %}



    </form>
</body>
{% endblock %}
