.level-modal, .exp-modal{
    z-index: -1;
    opacity: 0;

    position: absolute;
    transform: translate(50%, 50%);
}

.level-modal{
    right: 50%;
    bottom:0;

    transition: bottom 0.4s, opacity 0.4s;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.exp-modal{
    opacity: 0;
    z-index: -1;
    right: 50%;
    bottom: 50%;
}

@keyframes fading{
    0%{
        display: block;
        opacity: 1;
        z-index: 1;
    }

    50%{
        opacity: 0.6;
    }

    100%{
        opacity: 0;
        z-index: -1;
    }
}

.exp-modal.show{
    animation: fading 2s ease-in-out backwards;
}


.level-modal.show{
    z-index: 1;
    bottom: 50%;
    opacity: 1;
}

.level-top-content{
    width: 100%;
    padding: 10px 15px;

    text-align: center;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
    user-select: none;

    background-color: green;
}

.level-bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:100%;

    padding: 0 20px;

    background: white;
}

.obtained_level{
    color:green;
    font-weight: 800;
    font-size: 14pt;
}

.level-chr_box{
    position: relative;

}

.level-modal_img{
    width:200px;
    height:200px;

    margin-bottom: 20px;
}

.levelup_img{
    width: 50%;

    z-index: -1;
    opacity: 0;

    position: absolute;
    right: 50%;
    bottom: 0%;
    transform: translate(50%, 0);

    transition: bottom 0.8s, opacity 0.8s;
}

.level-modal.show .levelup_img{
    z-index: 1;
    bottom: 0%;
    opacity: 1;
}

.level-modal_close{
    display:block;

    padding: 9px 13px;
    background: #27ae60;

    border: none;
    outline: none;
    font-size: 18px;

    text-transform: uppercase;
    border-radius: 3px;

    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}