<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='./login/find_id.css') }}">
</head>
<body>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            <script>alert("{{message}}")</script>
        </div>
    {% endfor %}

    <div class="all">
        <div class="title">
            <h2>별명 찾기</h2>
            <p class="font">회원가입 시, 입력하신 이름, 비밀번호로
                별명을 확인하실 수 있습니다.</p>
        </div>    
        <div class="inputs">
        <form action="{{ url_for('login.finder') }}" method="post">
            <input type="text" placeholder="이름" class="inputtext" name = 'name'/>
            
        </div>
        <div class="inputs">
            <input type="password" placeholder="비밀번호" class="inputtext" name = 'pwd'/>
        </div>
    </div>
    <div class="borderline" style="border: 1px solid black; "></div>
    <div class="btn_box">
        <button type = 'submit' class="btn">별명 찾기</button>
    </div>
    </form>
</body>
</html>