<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel = 'stylesheet' href = "{{url_for('static',filename='./login/login_page.css')}}"/>
    <script src = "{{url_for('static',filename='./login/login_form.js')}}"> </script>
    <title>로그인</title>
</head>

<body>
    <div class="divbody">
        
           
        <header class = "displaycenter">
            <div class="title">새싹이 키우기</div>
        </header>
             <div class = "displaycenter">
            <img src="{{url_for('static',filename='./login/login_ui/login_sprout.gif')}}" class="char">
            </div>
        <section>
            <form action="{{ url_for('login.login_page') }}" method="post">
            <div class="divone">

                <div class="display">
                    <span class="textmargin fonts">별명</span>
                    <div class = "displaycenter">
                        <label for="userid"></label>
                        <div class = "divdisplay">

                            <input class="inputbox" name = 'userid'/>
                            <div class = "validate"  id = 'validate' name='별명'> </div>

                        </div>
                    </div>
                
                </div>

                <div class="display"> 
                    <span class="textmargin fonts">비밀번호</span>

                    <div class = "displaycenter">
                        <label for="userpw"></label>
                        <div class = "divdisplay"> 

                            <input class="inputbox" name = 'userpw' type="password"/>
                            <div class = "validate" id = 'validate' name='비밀번호'> </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class = "display">
                <div class = "displaycenter">
                <input type = "submit" class="login" style = "margin-bottom:16px; font-family: 'EF_Diary';" value='로그인 하기'/>
                </div>

                <!-- 필드 / flash 오류 -->
                {{ form.csrf_token }}
                {% include "form_errors.html" %}

            </form>

                <div class = "displaycenter">
                    <div>
                        <div style ="width:100%">
                            <a class="a fonts" href="{{ url_for('login.register_page') }}">회원가입</a>
                            <a>/</a>
                            <a class="a fonts" href="{{ url_for('login.finder') }}">별명 ∙ 비밀번호 찾기</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
</body>

</html>