 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = "{{url_for('static',filename='register_page.css')}}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <title>회원가입</title>
</head>
<body>
    <section>
      <form action="{{ url_for('login.register_page') }}" method="post">
        <div class="join">
            <div style = "height: 50px">
                <img src =  "{{url_for('static',filename='sprout.gif')}}" width="70px" height = "40px" style ="margin-left: 24px">
            </div>
            <div class="join_title">회원가입</div>        
            <div class="join_input">            
                <input class="join_inputBox" placeholder="이름" type="text" name = 'username'>
                <input class="join_inputBox" placeholder="별명" type="text" name = 'userid'>
                <input class="join_inputBox" placeholder="비밀번호" type="password" name = 'userpw'>
            </div>            
            <div class="join_submit">
                <input class="join_submitButton" type = 'submit' value = "가입 완료" />
      </form>
                <p style="font-size:11px;">가입하면
                    <span style="color:red;">이용약관</span>과
                    <span style="color:red;">개인정보취급방침</span>에 동의 한 것으로 봅니다.
                </p>
            </div>
        </div>  
    </section>
</body>
</html> 